.image {
    position: fixed;
    align-self: center;
    top: 20%;
    //border: 3px solid black;
}

.formm {
    position: fixed;
    align-self: center;
    top: 50%;
    //border: 3px solid black;
}