
.image {
    position: fixed;
    align-self: center;
    top: 20%;
    //border: 3px solid black;
}

.form {
    position: fixed;
    align-self: center;
    top: 50%;
    //border: 3px solid black;
}

p {
    font-size: 10px;
}