<ion-footer>
    <ion-toolbar>

        <img src="../../../assets/justmeet.PNG">
        

        <ion-buttons slot="primary">

            <ion-button (click) = "nvgt('home')">
                <ion-icon slot="icon-only" name="home" fill="solid"></ion-icon>
            </ion-button>

            <ion-button (click) = "nvgt('searchpage')">
                <ion-icon slot="icon-only" name="search" fill="solid"></ion-icon>
            </ion-button>

            <ion-button (click) = "nvgt('addpost')">
                <ion-icon slot="icon-only" name="add" fill="solid"></ion-icon>
            </ion-button>

            <ion-button (click) = "nvgt('profile')">
                <ion-icon slot="icon-only" name="person" fill="solid"></ion-icon>
            </ion-button>

        </ion-buttons>

    </ion-toolbar>
</ion-footer>